In [5]:
import pandas as pd

In [6]:
df = pd.read_csv('agora.csv')
df.head()

ds = pd.read_csv('agora.csv')

In [7]:
df.shape

(50, 5)

# Feature Transformation

# Normalization / Min Max Scaler

In [8]:
from sklearn.preprocessing import MinMaxScaler

In [9]:
m = MinMaxScaler(feature_range=(5,10))
m

MinMaxScaler(feature_range=(5, 10))

In [10]:
marketing_spend_fit = m.fit(df[['Marketing Spend']]) #fit means training

In [11]:
marketing_spend_fit

MinMaxScaler(feature_range=(5, 10))

In [12]:
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80  471784.10    Dhaka  192261.83
1        162597.70       151377.59  443898.53      Ctg  191792.06
2        153441.51       101145.55  407934.54  Rangpur  191050.39
3        144372.41       118671.85  383199.62    Dhaka  182901.99
4        142107.34        91391.77  366168.42  Rangpur  166187.94

In [41]:
df['Marketing Spend'] = m.transform(df[['Marketing Spend']]) # transform means replace

In [42]:
 df.head()

array([[3.04835063],
       [3.04840596],
       [3.04839542],
       [3.04838498],
       [3.04838238],
       [3.0483706 ],
       [3.04837375],
       [3.04836878],
       [3.04835755],
       [3.04836077],
       [3.04833611],
       [3.04833468],
       [3.04832685],
       [3.04832469],
       [3.04835687],
       [3.04840913],
       [3.0483086 ],
       [3.04832776],
       [3.04832441],
       [3.04831828],
       [3.04830658],
       [3.04830904],
       [3.04830398],
       [3.04829654],
       [3.04830749],
       [3.04829324],
       [3.04830552],
       [3.04830181],
       [3.04829484],
       [3.04829432],
       [3.04829017],
       [3.04828918],
       [3.0482918 ],
       [3.04828269],
       [3.04827225],
       [3.04827177],
       [3.0482518 ],
       [3.04826954],
       [3.0482421 ],
       [3.04826319],
       [3.04825191],
       [3.04825092],
       [3.04824602],
       [3.04823666],
       [3.04824434],
       [3.04821996],
       [3.04822033],
       [3.04821881],
       [3.04821944],
       [3.04821881]])

In [15]:
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0         8.463083       136897.80  471784.10    Dhaka  192261.83
1         9.916797       151377.59  443898.53      Ctg  191792.06
2         9.639923       101145.55  407934.54  Rangpur  191050.39
3         9.365682       118671.85  383199.62    Dhaka  182901.99
4         9.297189        91391.77  366168.42  Rangpur  166187.94

In [16]:
df['Administration'] = m.fit_transform(df[['Administration']]) #fit means training ;  transform means replace

In [17]:
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0         8.463083        8.258720  471784.10    Dhaka  192261.83
1         9.916797        8.809859  443898.53      Ctg  191792.06
2         9.639923        6.897895  407934.54  Rangpur  191050.39
3         9.365682        7.564992  383199.62    Dhaka  182901.99
4         9.297189        6.526640  366168.42  Rangpur  166187.94

In [18]:
df['Administration']

0      8.258720
1      8.809859
2      6.897895
3      7.564992
4      6.526640
5      6.847239
6      8.650806
7      8.587286
8      8.708664
9      7.184644
10     7.257532
11     6.541821
12     7.894178
13     8.205328
14     9.006636
15     7.715149
16     7.676352
17     8.570064
18     7.393860
19     8.891180
20     7.382118
21     8.901051
22     7.721464
23     7.073191
24     6.826938
25     8.359790
26     8.534224
27     7.914890
28    10.000000
29     8.872832
30     7.449640
31     8.860266
32     7.966468
33     6.970668
34     9.050275
35     6.285158
36     7.884123
37     5.000000
38     5.558181
39     6.206546
40     7.560204
41     6.272344
42     6.709259
43     7.896535
44     8.940358
45     7.773620
46     7.456299
47     8.202734
48     5.017509
49     7.500740
Name: Administration, dtype: float64

# Standardization

In [19]:
from sklearn.preprocessing import StandardScaler

In [20]:
#create object for StandardScaler

S = StandardScaler()

marketing_spend_fit = S.fit(ds[['Marketing Spend']])
Administration_fit = S.fit(ds[['Administration']])
Transport_fit = S.fit(ds[['Transport']])

In [21]:
ds

    Marketing Spend  Administration  Transport     Area     Profit
0         114523.61       136897.80  471784.10    Dhaka  192261.83
1         162597.70       151377.59  443898.53      Ctg  191792.06
2         153441.51       101145.55  407934.54  Rangpur  191050.39
3         144372.41       118671.85  383199.62    Dhaka  182901.99
4         142107.34        91391.77  366168.42  Rangpur  166187.94
5         131876.90        99814.71  362861.36    Dhaka  156991.12
6         134615.46       147198.87  127716.82      Ctg  156122.51
7         130298.13       145530.06  323876.68  Rangpur  155752.60
8         120542.52       148718.95  311613.29    Dhaka  152211.77
9         123334.88       108679.17  304981.62      Ctg  149759.96
10        101913.08       110594.11  229160.95  Rangpur  146121.95
11        100671.96        91790.61  249744.55      Ctg  144259.40
12         93863.75       127320.38  249839.44  Rangpur  141585.52
13         91992.39       135495.07  252664.93      Ctg  134307.35
14        119943.24       156547.42  256512.92  Rangpur  132602.65
15        165349.20       122616.84  261776.23    Dhaka  129917.04
16         78013.11       121597.55  264346.06      Ctg  126992.93
17         94657.16       145077.58  282574.31    Dhaka  125370.37
18         91749.16       114175.79  294919.57  Rangpur  124266.90
19         86419.70       153514.11        NaN    Dhaka  122776.86
20         76253.86       113867.30  298664.47      Ctg  118474.03
21         78389.47       153773.43  299737.29    Dhaka  111313.02
22         73994.56       122782.75  303319.26  Rangpur  110352.25
23         67532.53       105751.03  304768.73  Rangpur  108733.99
24         77044.01        99281.34  140574.81    Dhaka  108552.04
25         64664.71       139553.16  137962.62      Ctg  107404.34
26         75328.87       144135.98  134050.07  Rangpur  105733.54
27         72107.60       127864.55  353183.81    Dhaka  105008.31
28         66051.52       182645.56  118148.20  Rangpur  103282.38
29         65605.48       153032.06  107138.38    Dhaka  101004.64
30         61994.48       115641.28   91131.24  Rangpur   99937.59
31         61136.38       152701.92   88218.23    Dhaka   97483.56
32         63408.86       129219.61   46085.25      Ctg   97427.84
33         55493.95       103057.49  214634.81  Rangpur   96778.92
34         46426.07       157693.92  210797.67      Ctg   96712.80
35         46014.02        85047.44  205517.64    Dhaka   96479.51
36         28663.76       127056.21  201126.82  Rangpur   90708.19
37         44069.95        51283.14  197029.42      Ctg   89949.14
38         20229.59        65947.93  185265.10    Dhaka   81229.06
39         38558.51        82982.09  174999.30      Ctg   81005.76
40         28754.33       118546.05  172795.67      Ctg   78239.91
41         27892.92        84710.77  164470.71  Rangpur   77798.83
42         23640.93        96189.63  148001.11      Ctg   71498.49
43         15505.73       127382.30   35534.17    Dhaka   69758.98
44         22177.74       154806.14   28334.72      Ctg   65200.33
45          1000.23       124153.04    1903.93    Dhaka   64926.08
46          1315.46       115816.21  297114.46  Rangpur   49490.75
47             0.00       135426.92       0.00      Ctg   42559.73
48           542.05        51743.15       0.00    Dhaka   35673.41
49             0.00       116983.80   45173.06      Ctg   14681.40

In [45]:
#traning and replcae
#all columns

ds['Marketing Spend'] = S.transform(ds[['Marketing Spend']])
ds['Administration'] = S.transform(ds[['Administration']])
ds['Transport'] = S.transform(ds[['Transport']])

# Max Absulate Scaler

In [47]:
ds.head()

   Marketing Spend  Administration  Transport     Area     Profit
0        -1.818107       -1.818107  -1.818107    Dhaka  192261.83
1        -1.818107       -1.818107  -1.818107      Ctg  191792.06
2        -1.818107       -1.818107  -1.818107  Rangpur  191050.39
3        -1.818107       -1.818107  -1.818107    Dhaka  182901.99
4        -1.818107       -1.818107  -1.818107  Rangpur  166187.94

In [24]:
#find absulate value for perticular column and store in a varibale -> .abs()

Marketing_Spend = ds['Marketing Spend'] 
Administration  = ds['Administration']
Transport = ds['Transport']
#find max value for this varibale -> .max()

In [25]:
Marketing_Spend.abs()
Administration.abs()
Transport.abs()

0     2.165287
1     1.929843
2     1.626191
3     1.417348
4     1.273550
5     1.245627
6     0.739753
7     0.916470
8     0.812928
9     0.756935
10    0.116763
11    0.290555
12    0.291357
13    0.315213
14    0.347702
15    0.392142
16    0.413839
17    0.567745
18    0.671979
19         NaN
20    0.703598
21    0.712656
22    0.742899
23    0.755138
24    0.631190
25    0.653246
26    0.686280
27    1.163917
28    0.820543
29    0.913502
30    1.048654
31    1.073249
32    1.428988
33    0.005884
34    0.038282
35    0.082863
36    0.119935
37    0.154531
38    0.253860
39    0.340536
40    0.359142
41    0.429432
42    0.568488
43    1.518073
44    1.578860
45    1.802021
46    0.690511
47    1.818096
48    1.818096
49    1.436690
Name: Transport, dtype: float64

In [26]:
Marketing_Spend.max()

-0.4220142459996778

In [27]:
Administration.max()

-0.2759770212674204

In [28]:
Transport.max()

2.1652874959337036

In [29]:
ds['Administration'] / 2

0    -0.331118
1    -0.269990
2    -0.482050
3    -0.408061
4    -0.523227
5    -0.487669
6    -0.287631
7    -0.294676
8    -0.281214
9    -0.450246
10   -0.442162
11   -0.521543
12   -0.371550
13   -0.337040
14   -0.248165
15   -0.391407
16   -0.395710
17   -0.296586
18   -0.427042
19   -0.260970
20   -0.428344
21   -0.259876
22   -0.390706
23   -0.462608
24   -0.489920
25   -0.319908
26   -0.300561
27   -0.369253
28   -0.137989
29   -0.263005
30   -0.420855
31   -0.264399
32   -0.363532
33   -0.473979
34   -0.243325
35   -0.550010
36   -0.372665
37   -0.692550
38   -0.630641
39   -0.558730
40   -0.408592
41   -0.551432
42   -0.502972
43   -0.371289
44   -0.255516
45   -0.384922
46   -0.420116
47   -0.337328
48   -0.690608
49   -0.415187
Name: Administration, dtype: float64

In [30]:
# Marketing_Spend.abs()

# Robust

In [31]:
from sklearn.preprocessing import RobustScaler

In [32]:
R = RobustScaler()
R

RobustScaler()

In [33]:
marketing_spend_fit = R.fit(ds[['Marketing Spend']])
Administration_fit = R.fit(ds[['Administration']])
Transport_fit = R.fit(ds[['Transport']])

In [43]:
ds['Marketing Spend'] = R.transform(ds[['Marketing Spend']])
ds['Administration'] = R.transform(ds[['Administration']])
ds['Transport'] = R.transform(ds[['Transport']])

In [44]:
ds.head()

   Marketing Spend  Administration  Transport     Area     Profit
0        -1.295424       -1.295424  -1.295415    Dhaka  192261.83
1        -1.295423       -1.295423  -1.295416      Ctg  191792.06
2        -1.295423       -1.295425  -1.295417  Rangpur  191050.39
3        -1.295423       -1.295424  -1.295417    Dhaka  182901.99
4        -1.295424       -1.295425  -1.295418  Rangpur  166187.94

In [56]:
import numpy as np

dataset = [1,2,5,6,8,9,10,12,13]
q1 = np.percentile(dataset,25)
q2 = np.percentile(dataset,50)
q3 = np.percentile(dataset,75)

In [57]:
q1

5.0

In [58]:
q2

8.0

In [59]:
q3

10.0

In [60]:
IQR = q3-q1

IQR

5.0